.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-gap: 5px;
    padding: 6px 16px 6px 16px;

    background: white;
    border-radius: 10px;

    transition: background-color 230ms;

    .icon {
        padding: 0;
        margin: 0;

        & svg {
            width: 25px;
            height: 25px;
            fill: black;
        }
    }

    .content {
        color: black;
        font-family: Ginto, sans-serif;

        padding: 0;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background-color: #D9D9D9;
    }
}