footer {
    display: flex;
    justify-content: center;

    margin: 4%;

    .stack {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .developedBy {
            text-align: center;
            font-family: GintoNord-Bold, serif;
        }

        .sourceCode {
            font-family: Ginto, serif;

            color: #808080;

            transition: color 235ms;

            &:hover {
                color: #4D4D4D;
                cursor: pointer;
            }
        }
    }
}