.emoji {
    font-size: 150px;
    animation: waveHand 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    z-index: 15;

    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.dislike {
    z-index: 15;

    width: 205px;
    height: 225px;

    animation: dislikeSpin 1s linear infinite;
    user-select: none;
}

.surprise {
    z-index: 15;
    user-select: none;
}


@keyframes waveHand {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(13deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 560px) {
    .emoji {
        font-size: 100px;
    }
}

@media screen and (max-width: 380px) {
    .emoji {
        font-size: 100px;
    }
}

@keyframes dislikeSpin {
    100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
    }
}
