.page {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;

        .bio {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                font-family: GintoNord-Bold, serif;
                font-size: 50px;
                animation: fadeIn 2s;
            }
            .about {
                display: flex;
                flex-direction: row;
                gap: 15px;
                z-index: 15;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .page {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            grid-gap: 5vh;
        }
    }
}

@media screen and (max-width: 660px) {
    .page {
        .container {
            .bio {
                .title {
                    font-size: 35px;
                }
                .about {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .page {
        .container {
            .bio {
                .title {
                    font-size: 30px;
                }
                .about {
                    flex-wrap: wrap;

                    .button {
                        font-size: 15px;
                        padding: 3px 10px 3px 10px;
                    }
                }
            }
        }
    }
}

// серьезно? 3'ий экран galaxy fold'а? или бабушкина нокия? как этот чел вообще в интернет вышел, от партиклов уже телефон взорвется.
@media screen and (max-width: 250px) {
    .page {
        .container {
            .bio {
                .about {
                    justify-content: center;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}