.container {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        grid-gap: 15px;

        .col {
            max-width: 50%;

            .title {
                font-family: GintoNord-Bold, serif;
                font-size: 35px;
            }

            .list {
                display: flex;
                flex-wrap: wrap;
                grid-gap: 15px;

                margin-top: 2vh;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .container {
        .row {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            .col {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 380px){
    .container {
        .row {
            .col {
                .title {
                    text-align: center;
                    font-size: 30px;
                }
                .list {
                    justify-content: center;
                    
                    .badge {
                        padding: 3px 10px 3px 10px;

                        .content {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}