.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;

    height: 60px;

    z-index: 20;

    cursor: pointer;

    margin: 0;
    padding: 0;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 0.7vw;

        padding: 0 10px;
        height: 100%;

        transition: background-color 230ms;
        background-color: #ffffff;
        border-radius: 0 13px 13px 0;

        & svg {
            padding: 0;
            margin: 0;

            height: 100%;
            width: 35px;
            fill: black;
        }
    }

    .content {
        display: flex;
        align-items: center;
        padding: 0 10px 0 15px;
        height: 100%;

        background: #141414;
        transition: background-color 230ms;
        border-radius: 13px 0 0 13px;

        color: white;
        font-family: MontBlack, sans-serif;
        font-size: 20px;
    }

    &:hover {
        .content {
            background-color: rgba(20, 20, 20, 0.8);
        }

        .icon {
            background-color: #cccccc;
        }
    }
}

@media screen and (max-width: 535px) {
    .button {
        height: 45px;

        .icon {
            border-radius: 0 8px 8px 0;

            & svg {
                width: 25px;
            }
        }

        .content {
            padding: 0 5px 0 10px;
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 380px) {
    .button {
        height: 40px;

        .icon {
            border-radius: 0 8px 8px 0;

            & svg {
                width: 20px;
            }
        }

        .content {
            padding: 0 5px 0 7px;
            font-size: 15px;
        }
    }
}
